history
url/
straight/build*
straight/repos/
transient/
eshell/
racket-mode/
custom.el
projects
.org-id-locations
bookmarks
org-roam.db
.lsp-session-*
.cache/
multisession/
straight/modified/
\#\!*
auto-save-list/
eln-cache/
elpa/
mastodon.plstore
network-security.data
tramp